.header
{
    background-image: url("https://elements-video-cover-images-0.imgix.net/files/7ba59abf-a544-43cc-82a1-f30e648ef11f/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=ee1a4ac7f2de00e1bf653c71427a828c");
    padding: 60px;
    text-align: center;
    background-size: contain;
    height: 200px;
}

#my-header
{
    background-color: white;
    background-size: contain;
    font-weight: bold;
    text-align: center;
    box-shadow: 10px 5px 5px red;
    opacity: 0.5;
}

#meInfo
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}

#homeLink
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

li
{
    float: center;
}

li a 
{
    display: box;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(#active)
{
    background-color: yellow;
}

#active
{
    background-color: red;
}

#homeLink2 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li 
  {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover 
  {
    background-color: #111;
  }

  #header1
  {
    text-align: center;
    border-style: solid;
  }

  table
  {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius:0%;
    text-transform: uppercase;
    border-spacing: 0;
    vertical-align: middle;
    margin: auto;
v }

  th
  {
    font-style: italic;
    font-weight: bold;
    border: 1px;
    border-width: 10%;
    text-align: center;
    border-style: solid;
  }

  th:hover
  {
    background-color: green;
  }

  td:hover
  {
    background-color: yellow;
  }

  td
  {
    border-style: solid;
    border-color: black;
    border-width: 1px;
  }

#tableHeader
  {
    text-align: center;
  }

 #mainHeader
  {
    border-style: none;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-shadow: #111;
  }

#animatedHeader 
  {
    margin: auto;
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: beige;
    animation-name: animation;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
  
  @keyframes animation 
  {
    from {background-color: beige;}
    to {background-color: aqua;}
  }

  div.gallery 
  {
    margin: auto;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover 
   {
    border: 1px solid #777;
   }
  
  div.gallery img 
  {
    width: 100%;
    height: auto;
  }
  
  div.desc 
  {
    padding: 15px;
    text-align: center;
  }

  #Javascript
  {
    width: 100%;
    height: auto;
  }

  #Python
  {
    width: 100%;
    height: auto;
  }
  
  #CPlusPlus
  {
    width: 100%;
    height: auto;
  }

  #Java
  {
    width: 100%;
    height: auto;
  }